.content {
  width: 100%;
  height: 100px;
  transform: translateY(-120px);
  transition: all 0.3s;
}

h2 {
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
}

.content_area {
  margin-bottom: 20px;
}

.swiper-wrapper1,
.swiper-wrapper2 {
  display: flex;
  gap: 10px;
  transition: all 0.3s;
}

.swiper-container1 {
  position: relative;
}

.swiper-prev1 {
  color: #fff;
  position: absolute;
  top: 70px;
  right: -60px;
  z-index: 10;
  cursor: pointer;
}

.swiper-next1 {
  color: #fff;
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

.swiper-container2 {
  position: relative;
}

.swiper-prev2 {
  color: #fff;
  position: absolute;
  top: 70px;
  right: -60px;
  z-index: 10;
  cursor: pointer;
}

.swiper-next2 {
  color: #fff;
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 10;
  cursor: pointer;
}
.swiper-slide {
  transition: all 0.3s;
}

.swiper-slide img {
  width: 24w;
  height: 20vh;
  border-radius: 5px;
}

.swiper-slide:hover {
  transform: scale(1.2);
  z-index: 5;
}

.ani_content {
  padding-bottom: 20px;
}

@media (max-width: 1024px) {
  .swiper-wrapper {
    gap: 20px;
  }
}

@media (max-height: 660px) {
  .content {
    transform: translateY(-100px);
  }
}

@media (max-height: 640px) {
  .main_title_info,
  .button_container {
    display: none;
  }
}
@media (max-height: 550px) {
  .content {
    transform: translateY(0px);
  }
}
